<h2 style="text-align: center;">Welcome to BearBooks</h2>

<p>
  Welcome to the registration/login page. For existing users, you can sign in. For new users, you can create an account for the BearBooks system.
  We hope you enjoy the future books you will read.
</p>

<div class="row" style="width:auto; margin:auto;">
<fieldset title="Sign in" class="col">
  <legend>Sign In:</legend>
    <label for="username"><b>Username:</b></label>
    <input type="text" name="username" class="formField"/><br/>
    <label for="password"><b>Password:</b></label>
    <input type="password" name="password" class="formField"/><br/><br/>
    <input type="submit" value="Sign In">
</fieldset>
<fieldset title="Register">
  <legend>Register:</legend>
    <label for="username"><b>Username:</b></label>
    <input type="text" name="username" class="formField"/><br/>
    <label for="password"><b>Password:</b></label>
    <input type="password" name="password" class="formField"/><br/><br/>
    <label for="password"><b>(verify password)</b></label>
    <input type="password" name="verifyPassword" class="formField"/><br/><br/>

    <label for="fullName"><b>Full name:</b></label><br/>
    <input type="text" name="fullName" class="formField"/><br/><br/>

    <label for="street"><b>Street:</b></label><br/>
    <input type="text" name="street" class="formField"/><br/><br/>

    <label for="city"><b>City / State:</b></label><br/>
    <input type="text" name="city" class="formField"/><input type="text" name="state" class="formField"/><br/><br/>

    <label for="zipCode"><b>Zip code:</b></label><br/>
    <input type="text" size="2" name="zipCode" class="formField"/><br/><br/>

    <label for="phoneNumber"><b>Phone number:</b></label><br/>
    <input type="text" name="phoneNumber" class="formField"/><br/><br/>


    <input type="submit" value="Register">
</fieldset>
</div>
