ul.commalist {
    display: inline;
    list-style: none;
    padding: 0;
  }
  
  ul.commalist li {
    display: inline;
  }
  
  ul.commalist li:not(:first-child):before {
    content: ", ";
  }
  
  ul.commalist li:last-child:before {
    content: " and ";
  }
  
  ul.commalist li:only-child:before {
    content: "";
  }
  
  .small {
    font-size: 12pt;
  }
  
  table {
    border:1px solid black;
    text-align: center;
  }
  th {
    border:1px solid black;
    text-align: center;
  }
  td {
    border:1px solid black;
    text-align: center;
  }
  h2{
    text-align: center;;
  }
  p{
    text-align:center;
    max-width:90%;
    margin:10px;
  }

  table {
    width: 100%;
  }

  .mat-header-cell{
    text-align: center;
    color: yellow;
    font-weight: bold;
  }