<h2>BearBook Book Catalog</h2>

<p>View all books that currently are registerd to the database of BearBooks. For those who are registed, you can checkout the books
  you are interested in from this page.
</p>

<p style="font-weight: bold; color:red;">
  Currently, the functionality on this page has not been implemented. The table is acting as a placeholder. This will need to be fixed
  once after the backend is integrated.
</p>

<table style="width:100%">
  <tr>
    <th>Book</th>
    <th>Author</th>
    <th>Available</th>
  </tr>
  <tr>
    <td>Harry Potter #1</td>
    <td>J.k. Rowling</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>Harry Potter #2</td>
    <td>J.k. Rowling</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>Harry Potter #3</td>
    <td>J.k. Rowling</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>Harry Potter #4</td>
    <td>J.k. Rowling</td>
    <td>No</td>
  </tr>
  <tr>
    <td>Harry Potter #5</td>
    <td>J.k. Rowling</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>Harry Potter #6</td>
    <td>J.k. Rowling</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>Harry Potter #7</td>
    <td>J.k. Rowling</td>
    <td>Yes</td>
  </tr>
</table>