<h1>Come visit our Bookstore</h1>

<p style="width: 90%;">Located on the southwest side of the campus, we are a branch of the student book store. 
  We can be found inside the Armstrong Browning Library immediately next to the main entrance. The Armstrong Browning 
  Library & Museum is dedicated to the study of the lives and works 
  of Victorian poets Robert and Elizabeth Barrett Browning and houses the world's largest 
  collection of Browning material and other fine collections of rare 19th-century books, 
  manuscripts, and works of art.</p>
<br>
<p style="width: 90%;">For directions, click on the image to the right.</p>

  <a href="https://www.google.com/maps/place/Armstrong+Browning+Library/@31.5436905,-97.1200085,17z/data=!4m5!3m4!1s0x864f8238a5508fd9b:0x8df375205315bf6c!8m2!3d31.5431622!4d-97.1200987"
    target="_blank"><img src="assets/Baylor.jpg" style="display: block; margin: 20px; border-radius: 20px; margin-left: auto;"/></a>
