<h2>Admin BearBook Book Catalog</h2>

<p>View all books that currently are registerd to the database of BearBooks. This page is to be used by the Admin's who have the privelleges
    to access this pagae. From here, the admin can update a book's information, remove a book, or add a new book to the database.
</p>

<p style="font-weight: bold; color:red;">
  Currently, the functionality on this page has not been implemented. The table is acting as a placeholder. This will need to be fixed
  once after the backend is integrated.
</p>

<p>To add a new book, use this form</p>
<table style="width:100%; border:1px solid black; text-align: center;">
    <tr>
        <th style="border:1px solid black; text-align: center; width: 25%;">Book</th>
        <th style="border:1px solid black; text-align: center; width: 25%;">Author</th>
        <th style="border:1px solid black; text-align: center; width: 25%;">Release Date</th>
        <th style="border:1px solid black; text-align: center; width: 25%;">Add</th>
      </tr>
</table>
<form action="">
    <input type="text" id="title" name="title" style="width:25%">
    <input type="text" id="author" name="author" style="width:24%">
    <input type="text" id="releaseDate" name="releaseDate" style="width:25%">
    <input type="submit" value="Add" style="width:24%">
</form>

<p style="font-size: 24px;">To update exsisting records, use the table below.</p>
<table style="width:100%; border:1px solid black; text-align: center;">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width:100%; border:1px solid black; text-align: center;">

    <ng-container matColumnDef="Book">
      <th mat-header-cell *matHeaderCellDef> Book </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="ISBN">
      <th mat-header-cell *matHeaderCellDef> ISBN </th>
      <td mat-cell *matCellDef="let element"> {{element.isbn}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Edition">
      <th mat-header-cell *matHeaderCellDef> Edition </th>
      <td mat-cell *matCellDef="let element"> {{element.edition}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Expected Return Date">
      <th mat-header-cell *matHeaderCellDef> Expected Return Date </th>
      <td mat-cell *matCellDef="let element"> {{element.expectedReturnDate}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Author">
      <th mat-header-cell *matHeaderCellDef> Author </th>
      <td mat-cell *matCellDef="let element"> {{element.author.fullName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Available">
      <th mat-header-cell *matHeaderCellDef> Available </th>
      <td mat-cell *matCellDef="let element"> {{element.availabilty}} </td>
    </ng-container>

    <ng-container matColumnDef="Edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let row"><button mat-raised-button color="primary" >Edit</button> </td>
    </ng-container>

    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let row"><button mat-raised-button color="primary"(click)="deleteBook(row.isbn)" >Delete</button> </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>