<h2>Admin BearBook Book Catalog</h2>

<p>View all books that currently are registerd to the database of BearBooks. This page is to be used by the Admin's who have the privelleges
    to access this pagae. From here, the admin can update a book's information, remove a book, or add a new book to the database.
</p>

<p style="font-weight: bold; color:red;">
  Currently, the functionality on this page has not been implemented. The table is acting as a placeholder. This will need to be fixed
  once after the backend is integrated.
</p>

<p>To add a new book, use this form</p>
<table style="width:100%; border:1px solid black; text-align: center;">
    <tr>
        <th style="border:1px solid black; text-align: center; width: 25%;">Book</th>
        <th style="border:1px solid black; text-align: center; width: 25%;">Author</th>
        <th style="border:1px solid black; text-align: center; width: 25%;">Release Date</th>
        <th style="border:1px solid black; text-align: center; width: 25%;">Add</th>
      </tr>
</table>
<form action="">
    <input type="text" id="title" name="title" style="width:25%">
    <input type="text" id="author" name="author" style="width:24%">
    <input type="text" id="releaseDate" name="releaseDate" style="width:25%">
    <input type="submit" value="Add" style="width:24%">
</form>

<p>To update exsisting records, use the table below.</p>
<table style="width:100%; border:1px solid black; text-align: center;">
  <tr>
    <th style="border:1px solid black; text-align: center;">Book</th>
    <th style="border:1px solid black; text-align: center;">Author</th>
    <th style="border:1px solid black; text-align: center;">Update</th>
    <th style="border:1px solid black; text-align: center;">Delete</th>
  </tr>
  <tr>
    <td style="border:1px solid black; text-align: center;">Harry Potter #1</td>
    <td style="border:1px solid black; text-align: center;">J.k. Rowling</td>
    <td style="border:1px solid black; text-align: center;">TODO UPDATE</td>
    <td style="border:1px solid black; text-align: center;">TODO DELETE</td>
  </tr>
  <tr>
    <td style="border:1px solid black; text-align: center;">Harry Potter #2</td>
    <td style="border:1px solid black; text-align: center;">J.k. Rowling</td>
    <td style="border:1px solid black; text-align: center;">TODO UPDATE</td>
    <td style="border:1px solid black; text-align: center;">TODO DELETE</td>
  </tr>
  <tr>
    <td style="border:1px solid black; text-align: center;">Harry Potter #3</td>
    <td style="border:1px solid black; text-align: center;">J.k. Rowling</td>
    <td style="border:1px solid black; text-align: center;">TODO UPDATE</td>
    <td style="border:1px solid black; text-align: center;">TODO DELETE</td>
  </tr>
  <tr>
    <td style="border:1px solid black; text-align: center;">Harry Potter #4</td>
    <td style="border:1px solid black; text-align: center;">J.k. Rowling</td>
    <td style="border:1px solid black; text-align: center;">TODO UPDATE</td>
    <td style="border:1px solid black; text-align: center;">TODO DELETE</td>
  </tr>
  <tr>
    <td style="border:1px solid black; text-align: center;">Harry Potter #5</td>
    <td style="border:1px solid black; text-align: center;">J.k. Rowling</td>
    <td style="border:1px solid black; text-align: center;">TODO UPDATE</td>
    <td style="border:1px solid black; text-align: center;">TODO DELETE</td>
  </tr>
  <tr>
    <td style="border:1px solid black; text-align: center;">Harry Potter #6</td>
    <td style="border:1px solid black; text-align: center;">J.k. Rowling</td>
    <td style="border:1px solid black; text-align: center;">TODO UPDATE</td>
    <td style="border:1px solid black; text-align: center;">TODO DELETE</td>
  </tr>
  <tr>
    <td style="border:1px solid black; text-align: center;">Harry Potter #7</td>
    <td style="border:1px solid black; text-align: center;">J.k. Rowling</td>
    <td style="border:1px solid black; text-align: center;">TODO UPDATE</td>
    <td style="border:1px solid black; text-align: center;">TODO DELETE</td>
  </tr>
</table>