ul.commalist {
  display: inline;
  list-style: none;
  padding: 0;
}

ul.commalist li {
  display: inline;
}

ul.commalist li:not(:first-child):before {
  content: ", ";
}

ul.commalist li:last-child:before {
  content: " and ";
}

ul.commalist li:only-child:before {
  content: "";
}

.small {
  font-size: 12pt;
}

h1{
  text-align: center;
  font-size: 24pt;
  margin: auto;
  width:98%;
  padding-bottom: 10px;
  padding-bottom: 10px;
}
p{
  text-align:center;
  margin: auto;
  width:95%;
  font-size: 12pt;
}

table {
  width: 100%;
  margin: auto;
  text-align: center;
}
th {
    border:1px solid black;
    text-align: center;
  }
td {
    border:1px solid black;
    text-align: center;
  }

.mat-header-cell{
  text-align: center;
  color: yellow;
  font-weight: bold;
}