<div class="header">
    <div class="logo"><a [routerLink]="['/home']"><img src="assets/BearBooks.png"/></a></div>
    <div class="topbar">
      <div class="topbaritems">
        <div class="topbaritem" style="font-size: 17pt;">
          <a [routerLink]="['checkout']" class="plainlink caps">Book Checkout</a>
        </div>
        <div class="topbaritem">
            <!--Need to Fix Login Issue-->
          <a href="login" class="plainlink">
            <img src="assets/white-down-triangle.png" style="float: right; margin-right:15px; margin-top: 12px;"/>
            <span class="caps small">Sign in</span><br/>
            <span class="smaller">or Create an Account</span>
          </a>
        </div>
      </div>
    </div>
    <div class="bottombar">
      <div class="bottombaritems">
        <div class="bottombaritem">
          <!--Add Functionality to Catalog-->
          <a [routerLink]="['booklist']" class="plainlink">View Catalog</a>
        </div>
        <div class="bottombaritem">
          <a [routerLink]="['location']" class="plainlink">Location</a>
        </div>
        <div class="bottombaritem">
          <!--Add Functionality to Admin Page-->
          <a [routerLink]="['admin']" class="plainlink">Admin</a>
        </div>
      </div>
    </div>
  </div>