<h1>Use BearBooks at Your Own Risk</h1>

<p style="font-weight:bold;">PLEASE BE AWARE THAT ANY INFORMATION YOU MAY FIND ON BEARBOOKS MAY BE 
  INACCURATE, MISLEADING, DANGEROUS, ADDICTICTIVE, UNETHICAL, OR ILLEGAL.</p>
<p style="width:60%;">Some information on BearBooks may create an unreasonable risk for readers and choose to apply or use 
  the information in their own activieites or to promote teh information for use by third parties.
None of the authors, contributors, administrators, vandals, or anyone else connected with BearBooks in any way whatsoever,
  can be responsible for your own use of teh information contained in or linked from these web pages.
Please take all steps necssary to ascertain that information you recieve from BearBooks is corerct and has been verified.</p>
