h1{
    text-align: center;
    font-size: 24pt;
    margin: auto;
    width:98%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  p{
    text-align:center;
    margin: auto;
    width:80%;
    font-size: 12pt;
    padding-bottom: 10px;;
  }