<h2>Checkout Your Book</h2>

<p>View all books that are currenly available to be checked out. If you see a book in this list that you wish to read, check it out quickly for who
    knows how long it will be available.
</p>

<p style="font-weight: bold; color:red;">
    Currently, the functionality on this page has not been implemented. The table is acting as a placeholder. This will need to be fixed
    once after the backend is integrated.
</p>

<table style="width:100%">
  <tr>
    <th>Book</th>
    <th>Author</th>
    <th>Borrow this Book</th>
  </tr>
  <tr>
    <td>Harry Potter #1</td>
    <td>J.k. Rowling</td>
    <td><button class="editbtn">Checkout</button></td>
  </tr>
  <tr>
    <td>Harry Potter #2</td>
    <td>J.k. Rowling</td>
    <td><button class="editbtn">Checkout</button></td>
  </tr>
  <tr>
    <td>Harry Potter #3</td>
    <td>J.k. Rowling</td>
    <td><button class="editbtn">Checkout</button></td>
  </tr>
  <tr>
    <td>Harry Potter #5</td>
    <td>J.k. Rowling</td>
    <td><button class="editbtn">Checkout</button></td>
  </tr>
  <tr>
    <td>Harry Potter #6</td>
    <td>J.k. Rowling</td>
    <td><button class="editbtn">Checkout</button></td>
  </tr>
  <tr>
    <td>Harry Potter #7</td>
    <td>J.k. Rowling</td>
    <td><button class="editbtn">Checkout</button></td>
  </tr>
</table>